@import '../styles/reset.scss';
@import "../styles/variables.scss";

.main-content {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 10% 20% auto auto 5%;
  grid-template-areas:
  "name navigation"
  "introduction ."
  "current-projects ."
  "past-projects ."
  ". footer";
  color: $light-shade;

  section {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: auto;
  line-height: 1.25em;
  }
}
