@import '../styles/reset.scss';
@import "../styles/variables.scss";
@import "../styles/mixins.scss";

.main-content {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 10% 20% auto auto 5%;
  grid-template-areas:
  "name navigation"
  "introduction ."
  "current-projects ."
  "past-projects ."
  ". footer";
  color: $light-shade;

  @media(max-width:720px) {
    grid-template-columns: 1fr;
    grid-template-rows: 10% 10% 20% auto auto 5%;
    grid-template-areas:
    "name"
    "navigation"
    "introduction"
    "current-projects"
    "past-projects"
    "footer"
  }

  section {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: auto;
    line-height: 1.25em;

    @media(max-width:720px) {
      width: 80%
    }
  }
}


.accent {
  position: relative;
  &::after {
    @include background-accent;
    top: 0;
    left: 0;
    width: 100%;
  }
}
