@import '../styles/mixins.scss';
@import '../styles/variables.scss';

.contact-form {
  background: $dark-shades;
  display: flex;
  background-attachment: fixed;
  flex-direction: column;
  @include breakpoints('medium') {
    flex-flow: row wrap;
  }


  &__form {
    background-color: $light-shade;
    padding: 1em;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    @include breakpoints('medium') {
      width: 50%;
      margin: 0 auto;
    }
  }

  &__heading {
    text-align: center;
    margin: 1em 0;
    color: $light-shade;
    width: 100%;
    font-size: 2em;
    font-weight: normal;
  }

  &__label {
    font-size: 0.7em;
    color: $brand-colour;
    position: absolute;
    left: 0;
    top: -1.25em;

  }

  &__input {
    box-shadow: none;
    border: 0;
    line-height: 1.5;
    width: 100%;
    background-image: linear-gradient(#9c27b0, #9c27b0), linear-gradient(#D2D2D2,
  #D2D2D2);
    background-size: 0 2px, 100% 1px;
    background-repeat: no-repeat;
    background-position: center bottom, center calc(100% - 1px);
    background-color: transparent;
  }

  &__input-wrapper {
    position: relative;
    margin: 1em auto;
    width: 100%;
  }

  &__submit {
    width: 100%;
    height: 3em;
    opacity: 0.7;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;

    &:hover {
      background-color: $brand-colour;
      color: $light-shade;
      opacity: 1;
    }

    @media(max-width: 720px) {
      background-color: $brand-colour;
      color: $light-shade;
      opacity: 1;
    }
  }

  #message {
    min-height: 15em;
    font-family: inherit;
  }
}
