@import '../styles/mixins.scss';

.contact-form {
  display: flex;
  background-attachment: fixed;
  flex-direction: column;
  padding: 0 14px;
  @include breakpoints('medium') {
    flex-flow: row wrap;
  }


  &__form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    @include breakpoints('medium') {
      width: 50%;
      margin: 0 auto;
    }
  }

  &__heading {
    text-align: center;
    margin: 1em 0;
    color: #ffffff;
    width: 100%;
    font-size: 2em;
    font-weight: normal;
  }

  &__label {
    font-size: 0.7em;
    color: #ffffff;
    position: absolute;
    left: 14px;
    top: 0.25em;

  }

  &__input {
    border-radius: 5px;
    border: 1px solid #ebebeb;
    opacity: 0.7;
    padding: 14px;
    line-height: 1.5;
    width: 100%;
  }

  &__input-wrapper {
    position: relative;
    margin: 1em auto;
    width: 100%;

    &:focus-within {
      label {
        color: #000000;
      }

      input, textarea {
        opacity: 1;
      }
    }
  }

  &__submit {
    width: 100%;
    height: 3em;
    opacity: 0.7;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;

    &:hover {
      background-color: #FFFFFF;
      opacity: 1;
    }
  }

  #message {
    min-height: 25em;
    padding: 14px;
    font-family: inherit;
  }
}
