@import "../styles/variables.scss";

.desktop-header {
  display: flex;
  justify-content: space-between;
  font-family: 'Special Elite', cursive;
  color: $light-shade;
  font-size: 1.25em;
  grid-area: name;

  .name {
    display: flex;
    align-items: center;
    span {
      white-space: nowrap;
      margin: 0 2em;
    }
  }
}
