@import "../styles/variables.scss";

.desktop-header {
  display: flex;
  justify-content: space-between;
  font-family: $heading-font;
  color: $light-shade;
  font-size: 1.75em;
  grid-area: name;
  width: 60%;
  margin: auto;
}
