@import "../styles/variables.scss";

.footer {
  height: 10em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: $light-accent;

  &__link {
    display: inline-block;
    height: auto;
    margin: 0 1em;
  }

  &__copyright {

  }
}
