@import "../styles/variables.scss";

.footer {
  height: 10em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  &__link {
    display: inline-block;
    height: auto;
    margin: 0 1em;

    svg:hover {
      fill: $light-shade;
    }
  }

  &__copyright {
    font-size: 0.8em;
  }
}
