.introduction {
  position: relative;
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;

  &__text {
    position: absolute;
    bottom: 33%;
    left: 1%;
    height: 4em;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;

    &__name, &__description {
      font-size: 2.5em;
    }
  }
}
