@import "../styles/variables.scss";

.introduction {
  position: relative;
  height: 100vh;
  background-size: cover;
  background-color: $dark-shades;

  &__text {
    position: absolute;
    bottom: 50%;
    left: 5%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    color: $light-shade;

    &__name, &__description {
      font-size: 2.5em;
    }
  }

  &__icon {
    width: 50px;
    height: auto;
    margin-top: 0.5em;
  }

  &__links {
    display: flex;
    flex-flow: row nowrap;
    align-items: end;
    justify-content: space-around;
  }

  &__link {
    width: 50px;
  }
}
