.mobile-header {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3em;
  padding: 1em;
  background: #D0F2F7;
  z-index: 1;

  &__logo {
    display: flex;
    align-items: center;
    height: 100%;

    h1 {
      font-size: 1.75em;
      font-weight: normal;
      color: #479AA5;
    }
  }

  .close-icon, .menu-icon {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%);
  }
}
