.mobile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3em;
  padding: 1em;
  background: #D0F2F7;

  &__logo {
    display: flex;
    align-items: center;
    height: 100%;

    h1 {
      font-size: 1.75em;
      font-weight: normal;
      color: #479AA5;
    }
  }
}
