@import "../styles/variables.scss";

.desktop-navigation {
  width: 500px;

  ul {
    display: flex;
    align-items: center;
    height: 100%;
  }

  li {
    width: 152px;
    text-align: center;
    color: $light-shade;
    font-size: 1.25em;
  }
}

.mobile-navigation {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 80vw;
  background: $brand-colour;

  &__open {
    display: block;
  }

  .menu-item {
    height: 3.5em;
    width: 100%;
    margin-bottom: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $brand-colour;
    color: $light-shade;
  }
}
