.desktop-navigation {
  width: 500px;

  ul {
    display: flex;
    align-items: center;
    height: 100%;
  }

  li {
    width: 152px;
    text-align: center;
    color: #479AA5;
    font-size: 1.25em;
  }
}

.mobile-navigation {
  display: none;
}
