.desktop-navigation {
  width: 500px;

  ul {
    display: flex;
    align-items: center;
    height: 100%;
  }

  li {
    width: 152px;
    text-align: center;
    color: #479AA5;
    font-size: 1.25em;
  }
}

.mobile-navigation {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 80vw;
  background: #D0F2F7;

  &__open {
    display: block;
  }
}
