@import "../styles/variables.scss";

.project-grid {
  background-color: $light-shade;
  display: grid;
  grid-gap: 3em;
  width: 100%;

  @media(min-width:720px) {
    grid-template-columns: 1fr 1fr;
  }
}
