@import '../styles/variables.scss';

.project {
  font-family: $body-font;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 40em;
  box-shadow: 0px 2px 5px #a19c9c;
  padding: 1em;
  border-radius: 0.5em;
  transition: box-shadow ease 0.2s;

  &__title {
    margin: 0.5em 0;
  }

  &__image {
    width: 100%;
    height: auto;
    border-radius: 0.2em;
  }

  &__description {

  }

  &:hover {
    box-shadow: 0px 5px 7px #a19c9c;
  }
}
