@import "../styles/variables.scss";
@import "../styles/mixins.scss";

.current-projects {
  grid-area: current-projects;
}

.past-projects {
  grid-area: past-projects;
}

.current-projects, .past-projects {
  font-family: $heading-font;
  h2 {
    position: relative;
    width: max-content;
    font-size: 2em;
    margin-bottom: 0.75em;

    &::after {
      @include background-accent;
    }
  }
  ul {

    li {
      margin: 1em 0;
      width: max-content;
      position: relative;

      &:hover::after {
        @include background-accent;
        top: 0.4em;
      }

    }
  }
}
